{% extends "optimizador/base.html" %}
{% block title %}Upload CSV{% endblock %}
{% block content %}
  <h1 class="mb-4">Upload Optimization Data</h1>

  <form method="post" enctype="multipart/form-data" class="mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>

  {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
{% endblock %}

{% block extra_scripts %}
  <script>
    // Optional: Add any JavaScript you need here
  </script>
{% endblock %}
